body{
	font-family:tahoma ;
	margin: 0px;
	padding:0px; 
   

}
/* Start header*/
.main-header {
	padding: 10px ;
}

.left-section {
	width:18%;
	text-align: right ;
	


}
.left-section p { 
	font-size: 35px;
	color:#000000;
	margin: 0px;
 }
 .app-span {
 	color:#92CEC9;
 }
 .header-list {

 	position: absolute;
 	top:0%;
 	right:7%;
	width:30%;
	float: right;
	right:2%;


}
.header-list{
	list-style: none;

}

.header-list li{
	display: inline-block;
	margin-right:20px;
	text-transform:uppercase;
	

}
.header-list li a{
	text-decoration:none;
	display: inline-block;
	color:#B3B3B3;
}
#active-link{
	color:#92CEC9;
}
.active-bar {
	position: absolute;
	right: 431px;
	top:36px;
	width:43px;
	height:2.5px;
	background-color: #67998D;

}


/* End header*/
/* main core*/
.container {

	height:450px;
	background-image: url(../img/showcase.jpg);
	background-size: cover;
	background-position:center;
}
.square {
	width: 30%;
	height:70px;
	padding-top: 15px;
	margin:auto;
	background-color: rgba(66,64,66,0.93);
	position: relative;
	top: 210px;
	text-align: center;
  border-radius: 5em / 5em;
}
.square h2 {
	  color:white;
	  font-size: 30px;

margin:0; 
}
.square p {
	
	margin-top:4px;
	font-size: 12px;
	color: #B0B0B2;
}
#icon-4x{
	color:#579796;
	position: relative;
	left: 8%;
}
#icon-6x{
	color:#579796;
	position: relative;
	left: 8%;

}
#icon-6x1 {
	
	color:#579796;
	position: relative;
	left: 8%;
transform: rotate(40deg);
}
.features {
	width:91%;
	color:black;
	text-align: center;

}
.features h2 {
	margin: 15px 0px 5px 0 ;
	text-transform: capitalize;
}
.features p {
	color:#B5B5B5;
	font-size:small;
	margin:0; 
}
.icons-class {
	width:24%;
	min-height:350px;
	padding-left: 130px;
	margin-top: 29px;
	display: inline-block;
}
.icons-p1{
padding-bottom: 10px;
color:#1D0B10;

}

.icons-p2{
margin-top: 20px;
text-align: center;
font-size: 12px;
color:#B0B0B2;
position: relative;
left: -26%;
line-height: 20px;
}
.mid-p {
position: relative;
right:-1%;
padding-bottom: 60px;}
.icons-p31{
color:#1D0B10 ;
position: relative;
left: 0%;
}
.icons-p32{
color:#1D0B10 ;
position: relative;
left: 8%;
}

/* End main core */
/* Phone section */ 

.phone{

	background-image: url('../img/info-bg.jpg');
	height: 450px;
	background-size: cover;

}
.phone .phone-pic , .core-features{
	width: 20%;
	height: 430px;
	margin:auto;
	position: relative;
	left:-20%;		


}
.phone-image
{
	
	height: 100%;

	
}
.core-features {
	position: relative;

		top:-85%;
		left:22%;
		color:white;
		text-align: center;
		margin-top: 50px

}

.core-features p{
	display: inline-block;
	margin: 5px 0;
}
.footer{
	background-color: #323232;
	min-height: 170px;

}
.footer .contact-us , .about-me {
color: white;
padding: 14px 5px 22px 200px;
width: 10%;
float: left ; 


}
.footer .contact-us h3 , .about-me h3 , .newsletter h3{
text-transform: uppercase;
font-size: 11px;

}
.footer .contact-us p , .about-me p , .newsletter p {
	font-size: 10px;
	display: inline-block;
}
.about-me {

display: inline-block;
text-align: left;
padding: 14px 0 22px 220px;
width: 16%;
line-height: 17px;

}
.newsletter{

	 padding: 14px 5px 22px 150px;
	color:white;
	text-align: left;
width: 14%;
	display: inline-block;
	position: relative;

	
}

 .button1{ 
	background-color: #1F1F1E;
	border:none;
	padding: 5px;
	color:white;
	position: absolute;
	left: 76%;
	bottom: -111.5%;
	right:20%;
	height: 24px;

 }
 .clear{
 	clear: both;
 }
 .last {
 	height: 20px;
 	background-color: #4D9D99;
 	color:white;
 	text-align: center ; 
 	padding: 20px;

 }

 .last p {
margin:0;
 }
.submit1{
	display: inline-block;
	background-color: #1F1F1E;
	border:none;
	color:white;
	padding: 5px;
	height: 24px;
	position: absolute;
	left:87%;
}
/* ------------------------- About page ----------------------------------*/
.about2{
	width:80%;
	margin: auto;
}
.about2 h3 {
	margin:0 ; 
}
.paragraph1 {
	margin: auto ;
	width: 50%;
	text-align: center; 
}
 .paragraph1 h3 span {
	color: #4D9D99;
}
.p77 , .p78 {
	width:73%;
	text-align: left; 
	padding-left:150px;
}
.p78 {
	text-align: center; 
	padding-left:190px;
}
.paragraph3 {
	padding:15px;
	background-color: #323232;
	margin:auto;
	width:61%;
	min-height: 450px;
	margin-bottom: 40px

}
.service-header {
color:white;
text-align: center ; 
font-size: 14px;


}
.service-paragraph {
color:white ;
text-align-last : center ;
font-size: 14px;
}
.paragraph11{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 20px;
	margin-bottom: 20px;


}
.paragraph11  {
	background-color: #4D9D99;
}
.contact-form {
	width:10%;
	margin:auto;

}
.our-submit11{
	width:70px;
	margin-bottom: 128px ;
	margin-left: 43px;
	

}
