body {
	margin:0px ;
	padding: 0px ;
	background-color: #f2f2f2;
}
.navbar {

	background-color :#360736 ;
	min-height : 35px;


}
.nav-list {
	    margin:0px;

	list-style :none;
	/*width : 476px;
	margin-left: 500px ;*/
	/* == */
	 	text-align: center ; 
	 	

	/*text-align: center ;
	line-height: 35px */

}
.nav-home {

margin-right:100px;
margin-top: 7px ;
display: inline-block;
}

.nav-contact , .nav-book {


	
	margin-right:100px;
	margin-top: 7px ;
		display: inline-block;

}

.nav-home a , .nav-contact a , .nav-book a  {
	
	text-decoration: none ;
	color :#81275C;


}
#active a{
	display: inline-block;

	text-decoration: none ;
	color : white ;
}
.mid {
	text-align: center ;
	 background-image :url('img/cover.png'); 
	 background-size : cover;
	 min-height: 700px;
	 position :relative ;
}
.web-folk {
		 padding-top: 120px;
		 margin-bottom: 40px;
		 

}
.mid .web-folk h2 {
	color:#FFF0FD;
font-size:50px;
padding: 0px;
margin:0;


}
.mid .web-folk p {
    color :#F9DAF1;
	font-size:20px;
	letter-spacing: 5px; 


}
.mid .web-folk h2 span {
	text-transform :uppercase ;
}
.we-dream {
	min-height: 100px ;
padding-top: 75px;
}
.we-dream p {
    font-size:19px;
	margin:0px;
	padding:0px ;
	color:#FFF0FD;
}

.span0{		
	margin-top: 60px;
	line-height: 40px;

}
.span0 span {
	display: inline-block;
	width:8px;
	height:8px;
	background:#fff;
	border-radius: 50%;
	margin-top: 10px;
}
.span0 span:hover{
	background-color:#FF0047;
}

.work-client {

	color :#F9DAF1;
	width:250px;
	min-height:28px; 
	background-color :#FF0047;
	position:absolute;
	bottom: 0 ; 
	left :627px;
	font-size: 20px ;
	padding:0px;

}
.work-client :after {
content : "";
border-top:20px solid #FF0047;
border-left: 20px solid transparent;
border-right:20px solid transparent;
position: relative;
top :62px ;
left:-70px;


} 
.clear {
	clear:both;
}

.img-back ,.img-back1 ,.img-back2,.img-back3,.img-back4,.img-back5,.img-back6,.img-back7,.img-back8
,.img-back9,.img-back10,.img-back11
  {
    float: left ;
	width: 25% ; 
	height: 252px ;
}
.img-back{
	
		background: url(img/image_1.jpg);
}
.img-back1{

		background: url(img/image_2.jpg);
}
.img-back2{
		background: url(img/image_3.jpg);
}
.img-back3{
		background: url(img/image_4.jpg);
}
.img-back4{
		background: url(img/image_5.jpg);
}
.img-back5{
		background: url(img/image_6.jpg);
}
.img-back6{
		background: url(img/image_7.jpg);
}
.img-back7{
		background: url(img/image_8.jpg);
}
.img-back8{
		background: url(img/image_9.jpg);
}
.img-back9{
		background: url(img/image_10.jpg);
}
.img-back10{
		background: url(img/image_11.jpg);
}
.img-back11{
		background: url(img/image_12.jpg);
}
.overlay {
	background:rgba(0,0,0,0.5);
	width:100%;
	height: 100%;
	opacity: 0;
} 
.overlay:hover {
	opacity: 1 ;
}
.men-class{
	text-align:center;



}
.men-class .men-p {
	background-color: #FF0047;
	height: 15px;
	padding:10px; 

}
.men-class .men-p1 {

	margin: 0px; 
	color:white;
}
.men-class .men-p1:after {
content : "";
border-top:20px solid #FF0047;
border-left: 20px solid transparent;
border-right:20px solid transparent;
position: relative;
top :45px ;
left:-280px;

	}
	.men-p2 {
	
	color:#FF0047;
	margin:35px;
	position: relative;
	left:-28px;
	text-transform:capitalize;
	font-size: 23px;
}
.pic{	
	margin-top: 110px;
	width:900px;
	position: relative;
	left:315px;
	overflow: hidden ;


}
.pic img {
	float: left ;
	position: relative;
	left: 150px;
	height: 250px;
	width: 250px;
}
.caption {
				text-align: center;



}
.caption p {

	display: inline-block;
	font-size: 25px;
	text-transform: capitalize;
	color:#FF0047;

}
.caption .cap1{
	position: relative;
	left:-100px;
	
}
.caption .cap2{
	position: relative;
	left:40px;
	
}
.span1 , .span2{
	position: relative;
	top:-11px;
	
	font-size: 12px;
	color:#7C797C;
}
.button1 {
	background-color: #000;
color:white;
display: block;
position: relative;
left:600px;
min-height: 40px;
width: 235px;
font-size: 17px;
border:none;
cursor: pointer;

}
.footer-div {

	background-image: url('img/Cover_2.jpg');
	background-size: cover;
	margin-top: 50px;

}
.footer {

	width: 40% ;
	color:white;
	display: inline-block;
			text-align: center;
			margin-top:100px;
			margin-left: 130px;


}
.footer h2 {

	font-size: 20px ; 
	text-transform: capitalize;


}
.button2 {
	background-color: white;
	color:black;
	padding: 10px;
    min-height: 30px;
width: 225px;
font-size: 17px;
border:none;
cursor: pointer;
position: relative;
left: 42%;
margin-top: 7%;
margin-bottom: 25px;
}
.copyright {
	background-color: #DCDCDC;
	min-height: 35px;
	padding-top: 25px;
	text-align: center;

}
.copyright p {
color:#AAAAAA;
margin:0px;
}
.copyright p span {
	color :red;
}
.bool {
	text-align: center;
}
.bool span {
	display: inline-block;
	width:8px;
	height:8px;
	background:#fff;
	border-radius: 50%;
	margin-bottom: 10px;


}
.bool span:hover{
	background-color:#FF0047;
}
/* -------- contact  ------------*/

.core { 
background-image:url('img/coverPage2.PNG');
background-size: cover;
text-align: center;
height:708px;

}
.content {

	padding-top:35px;


}
.content h1 {

	margin: 0;
	text-transform :capitalize;
	font-style: italic;

}
.content p {
	margin-top: 20px; 

}
.p1{
	font-size: 20px;
}
.p2  {
	text-transform:capitalize;
	color:red;
	font-size: 25px;
	padding-top:40px;


}
input[type="text"] , textarea {   /* or type = text without ""*/
	width:300px;
	min-height: 40px;
	background-color:rgb(243,39,97);
	border:none;
	font-size:20px;
	margin:4px;
	padding-left: 10px;

}
textarea{
	height: 200px;
}
input[type="submit"] {
position: relative;
left:128px;
cursor: pointer;
}
::placeholder {
color:white;
}
.inf{
text-align: center;
padding-top: 50px;
}
.inf h2 {
	margin: 0px;
	color:#FF0047;
	font-size:24px;
	text-transform:capitalize;
	padding-bottom: 5px;


}
.inf p {
	margin: 0 ; 

}
.inf img {
	margin-top: 35px;
	margin-right: 10px;
}
/*------------------- book -----------------------*/
.service {

	background-color: white;
	width:720px;
	margin: auto;
	padding-left: 20px;
	padding-top:30px; 
	height: 340px;

}
.service-pic1 , .service-pic2{
        float: left;
        width:48%;

}


.service-pic2{
	background-color: #f2f2f2;
	height: 252px;
	
}
.service-pic2 p {
position: relative;
top:22%;
height:110px;
}
.service-pic2 span {
	font-size: 13px
}
.service-pic2 button {
	background-color: black;
	color: white;
	width: 100px;
	height: 35px;
	border:none;
}
.Footer1{
padding-top:205px;